body{
   font-family: 'Assistant', sans-serif;
   margin-top:0;
   background-image: url("plane-bg.jpg");
}

#header-name{
  margin:0;
}

h1#header-name a{
  color: grey;
  font-size: 50px;
  position:fixed;
  margin-top:10px;
  margin-left:50px;
  opacity: .5;
}

h1#header-name a:hover {
  color:	#696969;
}

#menu {
  padding-left: 70%;
  padding-top:35px;
  height:55px;
  width:110%;
}

.menu-link {
  color:	navy;
  opacity:.7;
}

#menu-items p:hover {
  font-size: 24px;
}

#menu-items p {
  display: inline;
  padding: 15px;
  margin: 10px;
  position:relative;
}

section.main {
  margin: 30px 60px;
}

h1.page-header{
  margin-left:20%;
}

.no-decoration a{
  text-decoration: none;
}
